home page
<ul>
	<li><a href="/find">Find a team</a></li>
	<li><a href="/create">Create a team</a></li>
	<li><a href="/account">Your account</a></li>
</ul>

Your teams
<ul>
	<li><a href="/team">team</a></li>
</ul>
