
<style>
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  max-width: 400px;
}
</style>

<body class="o-page p-home">
		<div id="page">
			<!-- Header -->
			<div id="header">
				<div class="header-content">
					
					
				</div>
			</div>
			<!-- Content -->
			<div id="content">
				<div class="home-content centered" >
					<span id="Logo" class="svg" class="centered">
						<img src="img/squad-lg.png"  />
					</span>
				</div>
				<div class="fluid_container">
					<div class="camera_wrap camera_black_skin camera_emboss pattern_1" id="camera_wrap_4">
						<div data-thumb="img/gallery/1-th.jpg" data-src="img/gallery/1.jpg"></div>
						<div data-thumb="img/gallery/2-th.jpg"  data-src="img/gallery/2.jpg"></div>
						<div data-thumb="img/gallery/3-th.jpg"  data-src="img/gallery/3.jpg"></div>
						<div data-thumb="img/gallery/3-th.jpg"  data-src="img/gallery/4.jpg"></div>
					</div><!-- #camera_wrap_3 -->
					<div class="bannerContent fadeFromBottom">
								<div class="b-c-textpane">
									<a href="/login" class="home-scl-icon login">
										<img src="img/icons/login-16.ico" width="16px" >
										
										<div style='padding-left: 24px;'>Login</div>
									</a>
									<a href="/signup" class="home-scl-icon signup">
										<img src="img/icons/edit-16.ico" width="16px" >
										<div style='padding-left: 24px;'>Sign up</div>
									</a>
								</div>
							</div>

				</div><!-- .fluid_container -->
				
				<!-- <a href="#" class="home-footer">
					About us
				</a> -->
			</div>
			
			
		</div>
	</body>