<!-- CONTENT BEGIN -->
<div class="form">
   

  <div class="landing-logo">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="300px"></div>
       
        
      <ul class="tab-group">
        <li class="tab active" ><a href="/signup">Sign Up</a></li>
        <li class="tab login" ><a href="/login">Log In</a></li>
      </ul>
    
    <p class="landing-copyright copyright" style="color:white;">A Squad Company.</p>
     
</div> <!-- /form -->