      <div class="form-bg"></div>
<!-- CONTENT BEGIN -->
			<div class="form">
    <p class="home" ><a href="/" style="color: white;">Home</a></p>

  <div class="landing-logo">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="300px"></div>
       
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input style="color: white;" type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input style="color: white;" type="password"required autocomplete="off"/>
          </div>
          
         
          
          <button class="button button-block"/>Log In</button>

          <p class="landing-copyright copyright" style="color:white;">A Squad Company.</p>
          
          </form>

        </div>

      
</div> <!-- /form -->
</div> <!-- /form -->
			<!-- CONTENT END --> 