{{#if session}}
 <p class="home" ><a href="/home" style="color: white;">Home</a></p>
{{else}}
 <p class="home" ><a href="/login" style="color: white;">Login</a></p>
 <p class="home" ><a href="/signup" style="color: white;">Signup</a></p>
{{/if}}
  <div class="landing-logo">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="300px"></div>

      <div style="color:white">

<h3>How to SQUAD up!</h3>
<ol>
<li>Sign-up or sign-in if you're an existing user.</li>
<li>Add tags depending on your interests.</li>
<li>If you wish to join a SQUAD, click on Join. If
you wish to create your own SQUAD, click on Create!</li>
</ol>

<h3>Joining a SQUAD</h3>
<ol>
		<li>Have no friends to play spin the bottle with? Or simply have
    nothing better to do than play LoL? No problem. By clicking 
    Join you will immediately have a bunch of SQUADS to join at 
    your fingertips depending on the tags you signed-up with! Simply
    click on the SQUAD you wish to join and once in the SQUAD page, 
    click join and you're in! Yes! that easy!</li>
</ol>

<h3>Creating a SQUAD</h3>
<ol>
<li>So non of the existing SQUADs interest you, or you simply want 
    to create a SQUAD for you and your friends. By clicking on Create
    you will be able to create a SQUAD of your own with specific tags.
    You will also have the option to recruit anyone into your SQUAD!
</li>
</ol>

<h3>FAQ</h3>
<ol>
<li>
 What are tags? Isn't a tag and SQUAD description the same thing?
 	While tags and the SQUAD description may be similar, tags will be
 	used to filter results for other users who wish to join a SQUAD with
 	certain tags. You obviously don't want your 'avaliable SQUAD list' to
 	have League of Legends SQUADs when you want to join a basketball SQUAD.
</li>
<li>
Uhh, I created a SQUAD now what? 
   You can always recruit anyone you want if you have any friends who
   use the app! Have no friends? No problem, be patient and other users
   might want to join your SQUAD!
</li>
<li>I want to tell my SQUAD something, how do I do that?
   SQUAD message feed feature coming soon.
</li>
</ol>
</div>