<body class="o-page p-home">
		<div id="page">
			
			<div id="header">
				<div class="header-content">

				</div>
			</div>
				<div id="content">
				<div class="home-content">
					<span id="Logo" class="svg">
						<img src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" width="250px"/>
					</span>
				</div>
				<div class="fluid_container" style="background: url(http://georgianmaxim.com/wp-content/uploads/2013/11/Home.png) no-repeat center center fixed;">
					<div class="camera_black_skin camera_emboss pattern_1" id="camera_wrap_2">
						<div data-thumb="http://georgianmaxim.com/wp-content/uploads/2013/11/Home.png" data-src="http://georgianmaxim.com/wp-content/uploads/2013/11/Home.png">
							<div class="bannerContent fadeFromBottom">
								<div class="b-c-textpane">
									<a href="#" class="home-scl-icon login">
										
										
										<div style="text-align: center;">Login</div>
									</a>
									<a href="#" class="home-scl-icon signup">
										
										<div style="text-align: center;">Sign-up</div>
									</a>
								</div>
							</div>
						</div>
						
						
					</div>

				</div>
				
			
			</div>
			
			
			
		
			
		</div>